.tow .image{
  height: 20px;
 

}
.tow>div{
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}
.tow .image>img{
  width: 100%;
  height: 100%;
}
.one .image{
  width: 100px;
  height: 100px;  

}
.one .image>img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
 
}
.list>ul{
list-style:  none;
}
.list>ul>li{
  display: inline-block;
  margin-left:10px;
}
.list>ul>li>a{
  color: inherit;
  text-decoration: none;
}
.list>ul>li>a:hover{
  text-decoration: underline;
  text-indent: 5%;

}
.list2{
  list-style:none;
  padding: 0px;
}
.list2>li>a{
  text-decoration: none;
  color:gray;
}

.start .image,.contact .image{
 height: 500px;
 overflow: hidden;

}
.start img ,.contact img{
  height: 100%;
}
.start>div>div,.login h2{
  
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family:'Times New Roman', Times, serif;
}
.line{
  display: inline-block;
  min-width: 40px;
  
  border-bottom: 1px solid black;
 margin-left: 5px;
  margin-top: 10px;
}

.line1{
  display:inline-block;
  border-bottom:3px solid black; 
  min-width: 60px;
}

.product>div{
  background-color: #f2e4d9;
}
.product .image{
height:300px;
 padding: 5px;
 overflow: hidden;
 transition: 0.1s all ease-in-out;
}
.product .image:hover{
  transform: scale(1.05);
}
.product .image>img{
  width: 100%;
  height: 100%;
}
.text-red{
   color:brown !important;
   text-decoration: underline !important;
   
}
.bg-red{
  background-color: brown ;
  border-radius: 5px;
  text-decoration: none;
}
.slid>div{
  border: 1px solid brown;
 
}

.select{
  display: inline-block;
  border: 1px solid black;
  padding: 2px;
}

.select select {
border: none;
outline: none;
}
.select select:focus{
  border: none;
  outline: none;
}


.bg-black{
  background-color: black;

}
.bg-orange{
background-color: #f2e4d9;
}
.text-gray{
  color: gray;
}
.border-bottom{
  border-bottom: 1px solid brown;
}
.border-top{
  border-top: 1px solid brown;
}
.search{
  padding: 20px;
  display: block;
  
}
.search form{
  min-width:400px;
  border-radius: 20px;
  border: 1px solid gray;
  padding: 5px;
}
.search input[type='search']{
  border: none;
  width: 80%;
}
.search input[type='search']:focus{
  border: none;
  outline: none;
}
.search button{
  border: none;
  transition: 0.2s all ease-in-out;
}
.close{
  transition: 0.2s all ease-in-out;
}
.close:hover,.search button:hover{
  transform: scale(1.3);
  color: brown;
}
.d-none{
  display: none !important;
}
.about .image{
  min-height:50%;

}
.about .image img{
  width: 100%;
  height:100%;
}
.border1{
  border: 1px solid brown;
}
.explore{

  border: 1px solid black;
  padding: 10px;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  transition:0.2s all ease-in-out;
  color: white;
  color: black;

}
.explore:hover{
  color: white;
  background-color: black;
}
.login input{
  margin: 10px 0px;
  padding: 7px;
  width: 100%;
  border: 1px solid black;
}
.login input:focus{
  border: 2px solid black;
  outline: none;
}
.login>div>div>form{
  width: 400px;
}
.login a{
  margin: 0px !important;
  padding: 0px !important;
  text-decoration: none;
}
.signin{

 display: flex;
 justify-content: center;
}
.signin input{
  
background-color: black;
color: white;
width: auto;
padding: 10px 30px;
border-radius: 2px;
}
.signin input:focus{
  border:none;
  outline: none;
}
.size{
  padding:3px 10px;
  margin:5px;
  border:none;
  transition: 0.1s all ease-in-out;
}
.btn1{
  background-color:gainsboro;
}
.btn2{
  background-color:#d29215;
}
.size:hover{
  transform: scale(1.2);
  color: brown;
}
.add-cart{
display:inline-block;
margin: 20px 0px;
background-color: black;
color: white;
padding: 10px;
cursor: pointer;
transition: 0.2s all ease-in-out;
border-radius: 10px;
}
.add-cart:hover{
  background-color: white;
  color:black;
  border: 1px solid black;

}
.stars>span{
display: inline-block;
 max-width: 15px;
  overflow: hidden;
  margin-left: 5px;
}
.stars>span>img{
  width: 100%;
  height: 100%;
}
.nostars{
  position: relative;
}
.nostars::after{
  content:"";
  position:absolute;
  top: 0px;
  left: 0px;
 
  background-color:white;
opacity: 0.7;
  width:100%;
  height:100%;
  z-index: 10;
}
.show>div>.image{
  width: 100%;
  height: 100px;
  margin:5px;
}
.show>div>.image>img{
  width: 100%;
  height: 100%;
}
.main-image{
  width: 100%;
  height: 100%;
}
.main-image>img{
  width: 100%;
  height:100%;
}
.desc>h6{
  display: inline-block;
  
}
.count-review{
  margin-left: 10px !important;
display: inline-block;

max-width:50px !important;
} 
.cart .image{
  width: 100px;
  height: 100px;

}
.cart .image>img{
  width: 100%;
  height: 100%;
}
.cart-total,.pay{
  padding-right: 40px;
  min-width: 400px;
}
.full{
  width: 100%;
  margin-top: 8px;
  padding: 5px;
}
.half>input{
  width: 50%;
  padding: 5px;
}
.mr-2{
  margin-right: 10px;
}

.cash{
  padding: 0px !important;
}
a{
  text-decoration: none;
}

.state{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;

}
.state-on{
  background-color: green;
}
.state-off{
  background-color: red;
}
.count{
  padding: 1px 3px;
  margin-left: -8px;
  font-size: 8px;
  background-color: black;
  color: white;
  border-radius: 50%;
   cursor: pointer;;
}


.dropdown-menu a{
  display: block;
  width: 100% !important;
  color: white;
  padding-left: 5px;
  transition: 0.1s all ease-in-out;
  transition:  0.1s all ease-in-out;
  border-radius: 5px;
}
.dropdown-menu a:hover{
  background-color: white;
  color: black;
}
.dropdown-menu::before{
  
}